

.form {
  display: grid;
  grid-template-columns: 1fr minmax(20em, auto);
  gap: .5em;
}

.form > label {
  text-align: right;
}

.form .field {
  display: flex;
}

.form .field > * {
  flex: 1;
}

.form .field > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form .field > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
  display: flex;
}

.form .field > ul > li > * {
  flex: 1;
}
